<!DOCTYPE html>
<html>
<head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'despesas' %}">Despesas</a></li>
                <li><a href="{% url 'vendas_conta_cliente' %}">Conta A receber</a></li>
                <li><a href="{% url 'cadastrar_empresa' %}">Informações da empresa</a></li>
                <li><a href="{% url 'cadastrar_produto' %}">Cadastrar produto</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar cliente</a></li>
                <li><a href="{% url 'cadastrar_vendedor' %}">Cadastrar vendedor</a></li>
                <li><a href="{% url 'cadastrar_venda' %}">Cadastrar venda</a></li>
                <li><a href="{% url 'resumo_vendas' %}">Resumo de vendas</a></li>
                <li><a href="{% url 'gerar_nfe' %}">NFE</a></li>
            </ul>
        </nav>
    </body>
    <title>Editar Produto</title>
    <style>
        /* Adicione estilos para o popup aqui */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'cadastrar_empresa' %}">Informações da empresa</a></li>
            <li><a href="{% url 'cadastrar_produto' %}">Cadastrar produto</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar cliente</a></li>
            <li><a href="{% url 'cadastrar_vendedor' %}">Cadastrar vendedor</a></li>
          
            <li><a href="{% url 'resumo_vendas' %}">Resumo de vendas</a></li>
            <li><a href="{% url 'gerar_nfe' %}">NFE</a></li>
        </ul>
    </nav>

 
</body>
<body>
    <div class="popup">
        <h2>Confirma?</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">OK</button>
            <button type="button" onclick="window.close()">Cancelar</button>
        </form>
    </div>
</body>
</html>