<!-- nfe.html -->

<!DOCTYPE html>
<html>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'cadastrar_empresa' %}">Informações da empresa</a></li>
                <li><a href="{% url 'cadastrar_produto' %}">Cadastrar produto</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar cliente</a></li>
                <li><a href="{% url 'cadastrar_vendedor' %}">Cadastrar vendedor</a></li>
                <li><a href="{% url 'carrinho' %}">Cadastrar venda</a></li>
                <li><a href="{% url 'resumo_vendas' %}">Resumo de vendas</a></li>
                <li><a href="{% url 'gerar_nfe' %}">NFE</a></li>
            </ul>    
        </nav>
    
        
    </body>    
<head>

    <title>NFe</title>
</head>

<body>
    <h1>NFe {{ nfe.numero }} - {{ nfe.serie }}</h1>
    <p>Data de emissão: {{ nfe.data_emissao }}</p>
    <p>XML da NF-e:</p>
    <pre>{{ xml }}</pre>
    <p>Assinatura da NF-e:</p>
    <pre>{{ xml_assinado }}</pre>
</body>
</html>