<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Conta do cliente"</title>
</head>
<body>
    <h1>"Conta do cliente"</h1>
    <table>
        <thead>
            <tr>
                <th>ID Venda</th>
                <th>Produto</th>
                <th>Cliente</th>
                <th>Data de Venda</th>
                <th>Data de Vencimento</th>
                <th>Quantidade</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
                <tr>
                    <td>{{ venda.id_venda }}</td>
                    <td>{{ venda.produto.descricao }}</td>
                    <td>{{ venda.cliente.nome }}</td>
                    <td>{{ venda.data_venda }}</td>
                    <td>{{ venda.data_vencimento }}</td>
                    <td>{{ venda.quantidade }}</td>
                    <td>{{ venda.total }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">Nenhuma venda encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
