{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Vendedor</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    
    <body>
        <style>
            .required-label::after {
                content: " *";
                color: red;
            }
          </style>
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
                <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
                <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
                <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
                <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
                <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
                <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
                <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
                <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
            </ul>
        </nav>
        <div class="main-content">
            <div class="nav-padrao">
               CADASTRAR VENDEDORES
            </div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label 
                    for="{{ field.id_for_label }}" 
                    class="{% if field.field.required %}required-label{% endif %}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <button class="button_edit" type="submit">Salvar</button>
        </div>
        <br>
        
    </form>

    <div class="nav-padrao">
        VENDEDORES 
    </div>

    

       
        <ul class="produto-lista">
            {% for vendedor in vendedores %}
            <li>
                <div class="produto-info">
                    <div class="campo-codigo">
                        <h2 style="color: #e4a909;" >Vendedor # {{ vendedor.id }}</h2>
                    </div>
                    <div class="campo">
                      <span  >Nome:</span>
                      <p style="color:rgb(63, 113, 221);" >{{ vendedor.nome_vendedor }}</p>
                    </div>
                    <div class="campo">
                      <span>Codigo:</span>
                      <p style="color:#2879c9;">{{ vendedor.codigo_vendedor }}</p>
                    </div>
                    
                </div> 
                <details>
                    <summary class="produto-acoes"><p>Detalhes+</p></summary>
                    
                    <div class="produto-acoes-detalhes">
                        <form method="get" action="{% url  'editar_vendedor' vendedor.id %}">
                            <button class="button_edit" type="submit">Editar</button>
                        </form>
                        <form method="post" action="{% url 'excluir_vendedor' vendedor.id %}">
                            {% csrf_token %}
                            <button class="button_delete" type="submit" onclick="return confirm('Tem certeza que deseja excluir este cliente')">Excluir</button>
                        </form>
                    </div>
                    
                     
                            
                </details>   




            </li>
            {% endfor %}    
        </ul>     
        </div>
</body>
</html>