{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar cliente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

        
<body>
  <style>
    .required-label::after {
        content: " *";
        color: red;
    }
  </style>
  <nav class="navbar-horizontal">
    <div class="nome-usuario">
      Olá, {{ user.username }}!
    </div>
    <div class="botao-sair">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class='button_sair' type="submit">Sair</button>
      </form>
    </div>
  </nav>
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
            <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
            <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
            <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
            <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
            <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
            <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
            <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
            <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
        </ul>
            
    </nav>
    <div class="main-content">
        
          
          <details>
            <summary>
              <div class="nav-padrao">
                CLIENTES <span style="float: right;  font-weight: bold;">+</span>
              </div>
            </summary>
          <form class="form_prod" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <div class="form-container">
              {% for field in form %}
              <div class="form-field">
                  <label 
                      for="{{ field.id_for_label }}" 
                      class="{% if field.field.required %}required-label{% endif %}">
                      {{ field.label }}
                  </label>
                  {{ field }}
                  {% if field.errors %}
                      <div class="text-danger">{{ field.errors }}</div>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
    <form  method="post">
        
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <button class="button_edit" type="submit">Salvar</button>
        </div>
    </form>

        </details>
    
    
    
    <form method="get" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); display: flex; margin-top: 20px; padding:10px">
        
        <input type="text" style="width: 100%;" name="q" placeholder="Pesquisar pelo nome...">
        <div class="produto-acoes-detalhes">
          <button class="button_prod" type="submit" style="margin-left: 10px;">Pesquisar</button>
        </div>
        
    </form>
    <ul class="produto-lista">
        {% for cliente in clientes %}
        <li>
            <div class="produto-info">
                <div class="campo-codigo">
                    <h2 class="h2-cliente">Cliente # {{ cliente.id }}</h2>
                </div>
                <div class="campo">
                  <span style="color: #707070" >Nome:</span>
                  <h2 style="font-size:17px;">{{ cliente.nome }}</h2>
                </div>
                <div class="campo">
                  <span style="color: #707070" >Telefone:</span>
                  <h2 style="font-size:17px;">{{ cliente.telefone }}</h2>
                </div>
                <div class="campo">
                  <span style="color: #707070" >E-mail:</span>
                  <h2 style="font-size:17px;">{{ cliente.email }}</h2>
                </div>
            </div> 
            <details>
                <summary class="produto-acoes"><p>+ detalhes</p></summary>
                <div class="produto-detalhes-container2">
                    
                        <div class="produto-detalhes">
                            <table class="table_prod1">
                              <tr>
                                <th style="color: #707070" >CNPJ:</th>
                                <td>{{ cliente.cnpj }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >IE:</th>
                                <td>{{ cliente.inscricao_estadual }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >CPF:</th>
                                <td>{{ cliente.cpf }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >RG:</th>
                                <td>{{ cliente.rg }}</td>
                              </tr>
                            </table>
                          </div>
                
                        <p >Endereço</p>
                        <div class="produto-detalhes">
                            <table class="table_prod1">
                              <tr>
                                <th style="color: #707070" >Endereço:</th>
                                <td>{{ cliente.endereco }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >Numero:</th>
                                <td>{{ cliente.numero }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >Bairro:</th>
                                <td>{{ cliente.bairro }}</td>
                              </tr>
                              <tr>
                                <th style="color: #707070" >CEP:</th>
                                <td>{{ cliente.cep }}</td>
                              </tr>
                            </table>
                          </div>
                    
                </div>  
                <div class="produto-acoes-detalhes">
                    <form method="get" action="{% url  'editar_cliente' cliente.id %}">
                        <button class="button_edit" type="submit">Editar</button>
                    </form>
                    <form method="post" action="{% url 'excluir_cliente' cliente.id %}">
                        {% csrf_token %}
                        <button class="button_delete" type="submit" onclick="return confirm('Tem certeza que deseja excluir este cliente')">Excluir</button>
                    </form>
                </div>
                 
                        
            </details>   




        </li>
        {% endfor %}    
    </ul>    
            
                    
    </div>
        
        
        

        
    </body>
</html>