{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Vendedor</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    
    <body>
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
                <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
                <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
                <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
                <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
                <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
                <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
                <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
                <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
            </ul>
        </nav>
        <div class="main-content">
            <div class="nav-padrao">
                VENDEDORES
            </div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <h2>Vendedores cadastrados:</h2>
    <form method="get">
        <input type="text" name="q" placeholder="Pesquisar pelo nome do vendedor...">
        <button type="submit">Pesquisar</button>
    </form>
    <table class="table_prod">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Código Vendedor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
                <tr>
                    <td>{{ vendedor.nome_vendedor }}</td>
                    <td>{{ vendedor.codigo_vendedor }}</td>
                    <td>
                        
                        <button class="button_edit" type="button" onclick="window.location.href='{% url 'editar_vendedor' vendedor.id %}'">
                            Editar
                        </button>
                        <button class="button_delete" type="button" onclick="if (confirm('Tem certeza que deseja excluir este vendedor?')) { window.location.href='{% url 'excluir_vendedor' vendedor.id %}'; }">Excluir</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>       
        </div>
</body>
</html>