{% load static %}

<!DOCTYPE html>
<html>

    <script>
      
        
        function previewImagem(event) {
            var input = event.target;
            var preview = document.getElementById('preview');
        
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = "block"; // Exibe a imagem
                };
        
                reader.readAsDataURL(input.files[0]); // Lê o arquivo como URL
            }
        }
        </script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Produto</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
<body>
  <style>
    .required-label::after {
        content: " *";
        color: red;
    }
  </style>
  <nav class="navbar-horizontal">
    <div class="nome-usuario">
      Olá, {{ user.username }}!
    </div>
    <div class="botao-sair">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class='button_sair' type="submit">Sair</button>
      </form>
    </div>
  </nav>
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
            <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
            <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
            <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
            <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
            <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
            <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
            <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
            <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
        </ul>
    </nav>

<div class="main-content">
  <details>
  <summary>
    <div class="nav-padrao">
      PRODUTOS <span style="float: right;  font-weight: bold;">+</span>
    </div>
  </summary>
    
      
  
      {% if messages %}
          <ul>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  
      <form class="form_prod" method="post" enctype="multipart/form-data">
          {% csrf_token %}
  
          <div class="form-container">
            {% for field in form %}
            <div class="form-field">
                <label 
                    for="{{ field.id_for_label }}" 
                    class="{% if field.field.required %}required-label{% endif %}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="form-field">
              <img id="preview" src="" alt="Pré-visualização da imagem" style="max-width: 200px; display: none; margin-top: 10px;">
              <br>
              <label for="imagens">Imagens do Produto:</label>
              <input type="file" id="imagensInput" name="imagens" multiple accept="image/*" onchange="previewImagem(event)">
              
              
          </div>
  
         
  
          <div style="display: flex; justify-content: center; margin-top: 20px;">
              <button class="button_edit" type="submit">Salvar</button>
          </div>
      </form>

  </details>
    
    
    
        
        <form method="get" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); display: flex; margin-top: 20px; padding:10px">
            
            <input type="text" style="width: 100%;" name="q" placeholder="Pesquisar pelo nome...">
            <div class="produto-acoes-detalhes">
              <button type="submit" style="margin-left: 10px;">Pesquisar</button>
            </div>
            
        </form>
        <!-- Modifique a tabela para exibir os resultados da pesquisa -->
        <ul class="produto-lista">
            {% for produto in produtos %}
            <li>
                <div class="produto-info">
                    <div class="campo-codigo">
                        <h2>Produto # {{ produto.id }}</h2>
                    </div>
                    
                    <div class="campo">
                      <span>Descrição:</span>
                      <p>{{ produto.descricao }}</p>
                    </div>
                    <div class="campo">
                      <span>Preço:</span>
                      <p style="color:green;">R$ {{ produto.preco }}</p>
                    </div>
                    <div class="campo">
                      <span>Unidade:</span>
                      <p>{{ produto.unidade_medida }}</p>
                    </div>
                    <div class="campo">
                        <span>Quantidade:</span>
                        <p class="campo-quantidade">{{ produto.quantidade }}</p>
                      </div>
                    <div class="campo">
                      <span>Código de barras:</span>
                      <p style="color:#f39c12;">{{ produto.codigo_barras }}</p>
                    </div>
                </div>
              
              
              <details>
                <summary class="produto-acoes">
                  <p style="color:black;">Detalhes+</p>
                </summary>
                <div class="produto-detalhes-container">
                  <div class="produto-imagem">
                    <img src="{{ produto.imagens.first.imagem.url }}" alt="Imagem do produto">
                  </div>
                  <div class="produto-detalhes">
                    <table class="table_prod1">
                        <tr>
                            <th>Código fornecedor:</th>
                            <td>{{ produto.codigo_produto }}</td>
                          </tr>
                      <tr>
                        <th>Mercado Livre:</th>
                        <td>{{ produto.mercado_livre_id }}</td>
                      </tr>
                      <tr>
                        <th>Descrição:</th>
                        <td>{{ produto.descricao }}</td>
                      </tr>
                      <tr>
                        <th>Marca:</th>
                        <td>{{ produto.marca }}</td>
                      </tr>
                      <tr>
                        <th>Unidade:</th>
                        <td>{{ produto.unidade_medida }}</td>
                      </tr>
                      <tr>
                        <th>Custo:</th>
                        <td>R$ {{ produto.custo }}</td>
                      </tr>
                      <tr>
                        <th>Preço:</th>
                        <td>R$ {{ produto.preco }}</td>
                      </tr>
                      <tr>
                        <th>Quantidade:</th>
                        <td>{{ produto.quantidade }}</td>
                      </tr>
                    </table>
                    <div class="produto-acoes-detalhes">
                        <form class="form-botao" style="padding:0px; box-shadow:0px;" method="get" action="{% url 'editar_produto' produto.id %}">
                          <button class="button_edit" type="submit">Editar</button>
                        </form>
                        <form class="form-botao" style="padding:0px;" method="post" action="{% url 'excluir_produto' produto.id %}">
                          {% csrf_token %}
                          <button class="button_delete" type="submit" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</button>
                        </form>
                      </div>
                  </div>
                  
                </div>
              </details>
              
            </li>
            {% endfor %}
          </ul>
          
        
    </div>


    
</body>
</html>











