{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        /* Estilização do popup */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .imagem-produto {
            width: 100px;
            height: auto;
            margin: 5px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <style>
        .required-label::after {
            content: " *";
            color: red;
        }
      </style>
      <nav class="navbar-horizontal">
        <div class="nome-usuario">
          Olá, {{ user.username }}!
        </div>
        <div class="botao-sair">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class='button_sair' type="submit">Sair</button>
          </form>
        </div>
      </nav>  
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
            <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
            <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
            <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
            <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
            <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
            <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
            <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
            <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
        </ul>
    </nav>

    <div class="main-content">
        <div class="nav-padrao">
            CLIENTES
        </div>
    
        <form class="form_prod" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <div class="form-container">
                {% for field in form %}
                <div class="form-field">
                    <label 
                        for="{{ field.id_for_label }}" 
                        class="{% if field.field.required %}required-label{% endif %}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
              </div>
    
            <h3>Imagens do Produto</h3>
            <div class="image-container">
                {% for imagem in imagens %}
                    <div class="image-box">
                        <img src="{{ imagem.imagem.url }}" class="imagem-produto">
                        <br>
                        <a class="button_delete" href="{% url 'excluir_imagem_produto' imagem.id %}" onclick="return confirm('Tem certeza que deseja excluir esta imagem?')">Excluir</a>
                    </div>
                {% empty %}
                    <p>Sem imagens cadastradas.</p>
                {% endfor %}
            </div>
    
            <h3>Adicionar novas imagens</h3>
            <input type="file" name="imagens" multiple>
    
            <div class="button_container">
                <form  method="post">
                    <button style="margin:5px;" class="button_edit" type="submit">Salvar</button>
                    <button style="margin:5px;" class="button_delete" type="button" onclick="location.href='/cadastrar_produto/'">Cancelar</button>
                    
            </div>
        </form>
        
    </div>
</body>
</html>