{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body>
    <nav class="navbar-horizontal">
        <div class="nome-usuario">
          Olá, {{ user.username }}!
        </div>
        <div class="botao-sair">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class='button_sair' type="submit">Sair</button>
          </form>
        </div>
      </nav>
    <nav class="sidebar">
        <ul>   
            



            <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}" alt=""> HOME</a></li>
            <li><a href="{% url 'cadastrar_venda' %}"><img class="icon" src="{% static 'img/vendas.png' %}" alt="">VENDER</a></li>
            <li><a href="{% url 'cadastrar_produto' %}"><img class="icon" src="{% static 'img/produto.png' %}" alt="">PRODUTOS</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}"><img class="icon" src="{% static 'img/cliente.png' %}" alt="">CLIENTES</a></li>
            <li><a href="{% url 'cadastrar_vendedor' %}"><img class="icon" src="{% static 'img/vendedores.png' %}" alt="">VENDEDORES</a></li>
            <li><a href="{% url 'despesas' %}"><img class="icon" src="{% static 'img/despesas.png' %}" alt="">DESPESAS</a></li>
            <li><a href="{% url 'resumo_vendas' %}"><img class="icon" src="{% static 'img/resumo.png' %}" alt="">VENDAS</a></li>
            <li><a href="{% url 'vendas_conta_cliente' %}"><img class="icon" src="{% static 'img/contas.png' %}" alt="">RECEBIMENTOS</a></li>
            <li><a href="{% url 'cadastrar_empresa' %}"><img class="icon" src="{% static 'img/info.png' %}" alt="">INFORMAÇÕES</a></li>
            <li><a href="{% url 'gerar_nfe' %}"><img class="icon" src="{% static 'img/NFE.png' %}" alt="">NFE</a></li>
            
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    
                </form>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="main-content">
        <div class="nav-padrao"> DASHBOARD </div>
        <div style="display: flex; justify-content: flex-start;">
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 33%; margin: 4px;" id="grafico4"></div>
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 33%; margin: 4px;" id="grafico2"></div>
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 33%; margin: 4px;" id="grafico5"></div>
        </div>
        <div style="display: flex; justify-content: flex-start;">
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 50%; margin: 4px;" id="grafico6"></div>
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 50%; margin: 4px;" id="grafico7"></div>
        </div>
        <div style="display: flex; justify-content: flex-start;">
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);width: 100%; margin: 4px" id="grafico3"></div>
        </div>
        <div style="display: flex; justify-content: flex-start;">
            <div style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);width: 100%; margin: 4px" id="grafico1"></div>
        </div>
        
        
        
        
        
        <script>
            var graph1 = JSON.parse('{{ graph_json1|escapejs }}');
            var graph2 = JSON.parse('{{ graph_json2|escapejs }}');
            var graph3 = JSON.parse('{{ graph_json3|escapejs }}');
            var graph4 = JSON.parse('{{ graph_json4|escapejs }}');
            var config = JSON.parse('{{ config_json|escapejs }}');
            var graph5 = JSON.parse('{{ graph_json5|escapejs }}');
            var graph6 = JSON.parse('{{ graph_json6|escapejs }}');
            var graph7 = JSON.parse('{{ graph_json7|escapejs }}');

            Plotly.newPlot('grafico1', graph1.data, graph1.layout,config);
            Plotly.newPlot('grafico2', graph2.data, graph2.layout,config);
            Plotly.newPlot('grafico3', graph3.data, graph3.layout,config);
            Plotly.newPlot('grafico4', graph4.data, graph4.layout,config);
            Plotly.newPlot('grafico5', graph5.data, graph5.layout,config);
            Plotly.newPlot('grafico6', graph6.data, graph6.layout,config);
            Plotly.newPlot('grafico7', graph7.data, graph7.layout,config);
        </script>
    
</body>
</html>