<!-- nfe_form.html -->

<!DOCTYPE html>
<html>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'cadastrar_produto' %}">Cadastrar produto</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar cliente</a></li>
                <li><a href="{% url 'cadastrar_vendedor' %}">Cadastrar vendedor</a></li>
                
                <li><a href="{% url 'resumo_vendas' %}">Resumo de vendas</a></li>
                <li><a href="{% url 'gerar_nfe' %}">NFE</a></li>
            </ul>    
        </nav>
    
    </body>    
<head>
    
    <title>NFe</title>
</head>

<body>
    <h1>NFe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Gerar NF-e</button>
    </form>
</body>
</html>