<!DOCTYPE html>
<html>
<head>
    <title>Resumo de vendas</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'cadastrar_produto' %}">Cadastrar produto</a></li>
            <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar cliente</a></li>
            <li><a href="{% url 'carrinho' %}">Cadastrar venda</a></li>
            <li><a href="{% url 'resumo_vendas' %}">Resumo de vendas</a></li>
        </ul>
    </nav>

    <h1>Bem-vindo ao sistema de vendas!</h1>
</body>
<body>
    <div>
        {% block content %}
            <h1>Resumo das Vendas</h1>
            <form method="get">
                <label>Pesquisar por cliente:</label>
                <input type="text" name="pesquisa" placeholder="Nome do cliente">
                <br>
                <label>Data inicial:</label>
                <input type="date" name="data_inicial">
                <label>Data final:</label>
                <input type="date" name="data_final">
                <button type="submit">Filtrar</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>ID Venda</th>
                        <th>Produto</th>
                        <th>Cliente</th>
                        <th>Data Venda</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td>{{ venda.id_venda }}</td>
                        <td>{{ venda.produto.nome }}</td>
                        <td>{{ venda.cliente.nome }}</td>
                        <td>{{ venda.data_venda }}</td>
                        <td>{{ venda.quantidade }}</td>
                        <td>{{ venda.desconto }}</td>
                        <td>{{ venda.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</body>
</html>